<!DOCTYPE html>

<html lang="en">

<head>
    <title>Error 404</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
        <p>{{errorMessage}}</p>
    </div>
</body>

</html>