<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baker</title>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
<div class="main-content">
    <h2>Welcome, {{username}}!</h2>
    <h3>View your order detail here</h3>
    <hr/>
    <button type="button" id="manageIngredientBTN">Manage Ingredient</button>
    <button type="button" id="manageSupplierBTN">Manage Suppliers</button>
    <button type="button" id="manageOrderBTN">View Order</button>

    <br/>
    <br/>
    <div id="ingredientsTBL">
    </div>
    <br/> <br/>


    <button type="button" id="updateIngredientBTN">Update it!</button>

</div>
<script src="/js/baker.js"></script>
</body>

</html>
