<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baker</title>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
<div class="main-content">
    <p>Welcome, {{username}}!</p>
    <p>View your order detail here</p>

    <div id="ingredientsTBL">
    </div>
    <br/> <br/>
    <div id="updateIngredientsTBL">
    </div>

    <button type="button" id="updateIngredientBTN">Order it!</button>

</div>
<script src="/js/baker.js"></script>
</body>

</html>