<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-content">
        <p>Welcome {{username}}</p>
        <p>Order your pizza from here</p>
    </div>

    {{>footer}}

</body>
</html>

