<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
<div class="main-content">
    <p>Welcome {{username}}</p>
    <p>The Ingredients can be managed from here</p>

    <label for="New suppliers">Add new suppliers</label>

    <button type="button" id="confirmOrderBtn">Order it!</button>

</div>
<script src="/js/customer.js"></script>

</body>

</html>
