<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
<div class="main-content">
    <p>Welcome, {{username}}!</p>
    <p>View your order details here</p>

    <br/><br/>
    <div id="orderDDL">
        <label>Select Order: </label>
    </div>
    <br/>
    <!--<button type="button" id="viewOrderBTN">View Order!</button>-->
    <br/> <br/>
    <div id="orderTBL">

    </div>
    <br/>


</div>
<script src="/js/viewOrder.js"></script>
</body>

</html>
