<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
<div class="main-content" id="main">
    <h2>Welcome, {{username}}!</h2>
    <h3>View your order details here</h3>
    <hr/>

    <div id="orderDDL">
        <label>Select Order: </label>
    </div>
    <br/>
    <h3>Order Details</h3>
    <div id="divCustomarLBL"></div>
    <div id="divPizzaNameLBL"></div>

    <div id="orderTBL">
    </div>
    <div id="orderTBL">
    </div>
    <button type="button" id="deliverBTN">Deliver it</button>
</div>
<script src="/js/viewOrder.js"></script>
</body>

</html>
