<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
<div class="main-content" id="main">
    <p>Welcome, {{username}}!</p>
    <p>View your order details here</p>

    <div id="orderDDL">
        <label>Select Order: </label>
    </div>
    <br/>
    <div id="divCustomarLBL"></div>
    <br/><br/>
    <div id="divPizzaNameLBL"></div>

    <div id="orderTBL">
    </div>

</div>
<script src="/js/viewOrder.js"></script>
</body>

</html>
