<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza management</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="main-content">
    <h2>Welcome to pizza management system</h2>
    <p>Login as:</p>
    <button id="bakerBTN">Baker</button>
    <button id="customerBTN">Customer</button>
    <br/><br/>
    <div id="userDiv"></div>

</div>
<script src="/js/welcome.js"></script>
</body>

</html>
